body{
    background-color: #252627;;
    background: linear-gradient(to bottom, #121313 0%, #222324 50%, #464747 100%);
    height: 100vh;
}

.barra-menu{
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 55px;
}

.barra-menu img{
    width: 35px;
    filter: invert(100%);
}


.barra-menu a{
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.barra-menu li{
    list-style: none;
    padding-right: 100px;
}


.barra-menu ul{
    display: flex;
    justify-content: center;
}

.bibliografia{
    color: #fff;
}

.curiodidades{
    text-align: justify;
}

.contatos{
    text-align: center;
}

.btn {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    margin-right: 10px;
  }
  .btn:hover {
    box-shadow: 0 0 40px 40px #fff inset, 0 0 5px 5px #fff;
  }

.contatos img{
    width: 20px;
}


