body {
    background: linear-gradient(to bottom, #121313 0%, #222324 50%, #464747 100%);
    height: 100vh;
}

.barra-menu {
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 55px;
    border-bottom: 2px solid rgb(153, 0, 255);
    box-shadow: 0px -10px 5px rgba(225, 0, 255, 0.0), 0px 7px 30px rgba(153, 0, 255, 0.7);

}

.barra-menu a {
    text-decoration: none;
    color: #fff;
}

.barra-menu li {
    list-style: none;
    padding-right: 100px;
    padding-top: 25px;
}


.barra-menu ul {
    display: flex;
    justify-content: center;
}

.foto {
    text-align: center;
}

.foto img {
    width: 200px;
    margin-top: 65px;
    border-radius: 70px;
}

.bibliografia-direita {
    color: #fff;
    padding-right: 100px;
}

.bibliografia-direita h3 {
    font-size: 30px;
    text-align: center;
}

.curiodidades {
    text-align: justify;
    font-size: 20px;
}

.contatos {
    text-align: center;
}

.btn {
    margin-right: 10px;
}

.btn:hover {
    transition: 350ms;
    box-shadow: 0 0 40px 40px #fff inset, 0 0 5px 5px #9900ff;
}

.contatos img {
    width: 20px;
}